/* WHATSAPP ICON */
.whatsappIcon{
    cursor: pointer;
    height: 15vh; 
    display: flex;
    justify-content: space-between;
    position: fixed; 
    bottom: 10px;
    right: 20px;
    align-items: center;
    z-index: 2;
   
}
.principalIcon{
    font-size: 80px;
}